@import url(reset.css);

@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.page{
  width: 100%;
  height: 65rem;
  font-family: 'TheJamsil5Bold';
}

.img-timeline-box {
  position: relative;
  background-color: #000000;

  width: 94.9rem;
  height: 19%;
}

.main-img {
  opacity: 0.3;

  width: 100%;
  height: 100%;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 10%;
  top: 50%;

  width: 80%;
  height: 3px;

  background-color: #ffffff;
}

.timeline-element {
  position: relative;
  top:5.5rem;

  display: flex;
  align-items:center;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 0.6rem;
  flex-grow: 1;

  height: 12.5rem;

  font-size: 0.7rem;
}

.timeline-element>.point {
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 20px;

  background-color: #fff;

  color: rgb(255, 255, 255);
}

.timeline-element>.title {
  color: rgb(255, 255, 255);
}

.timeline-element>.content{
  color: #fff;
}
.portfolioDetail {
  display: flex;
  flex-direction: row;

  width: 94.9rem;
  height: 73.8%;
}

.profile{
  width: 23%;
  height: 100%;

  padding: 0 0 0 2rem;
  
  font-size: 0.87rem;
  font-weight: 500;
}

.profileImage{
  width: 80%;
}

.portfolioDetail .title{
  margin-top: 1rem;
  margin-bottom: 1rem;

  font-size: 1rem;
  font-weight: 600;
}

.profile > .userInfo{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  background-color: rgb(255, 255, 255);

  margin: 1rem 0 1rem 0;
}

.divisorLine{
  background-color: #7FA3C5;
  
  width: 90%;
  height: 3px;
}

.stackBox{
  display: flex;
  flex-direction: row;

  width: 100%;

  font-size: 1rem;
}

.stackName {
  width: 20%;
  font-size: 0.8rem;

  margin-right: 5%;
  
  overflow-wrap: break-word;
}

.proficiencyBox{
  position: relative;

  width: 60%;
  height: 1.1rem;

  margin: 0 0 1rem 0;
  border: 2px solid #7FA3C5;
  border-radius: 10px;

  font-size: 1rem;
}

.proficiency{
  position: relative;
  right: 0.1rem;

  background-color: #7FA3C5;
  height: 100%;

  border-radius: 10px;
}

.snsList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 1.2rem;

  width: 100%;

  margin-bottom: 1rem;
}

.snsElement{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  width: 50%;
}

.snsElement > img{
  width: 1.4rem;
  height: 1.4rem;
}

.snsElement > .snsId{
  display: flex;
  align-items: end;

  font-size: 0.5rem;
}

.portfolioContent {
  width: 77%;
  height: 100%;
  box-shadow: -4px 0px 16px 8px rgba(0, 0, 0, 0.25);

  padding: 4.5rem 2rem 0 4.5rem;
}

.workList{
  width: 100%;
  height: 66.7%;
}

.addSomething{
  width: 19rem;
  height: 19rem;
}

.templateEditTools{
  display: flex;
  align-items:end;
  flex-direction: column;
}

.completeButton{
  width: 15rem;
  height: 4rem;

  border: none;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  background-color: #C0D9FF;

  font-size: 1.5rem;
  color: #fff;
}

.toolBoxGroup{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 33.3%;

  font-weight: 400;
}

.toolBoxGroup > .explain{
  display: flex;
  align-items: end;
  position: relative;

  position: relative;
  left:1rem;

  height: 2.5rem;

  margin-bottom: 0.5rem;
  text-align: left;
  
  font-size: 1rem;
  font-weight: 400;
}

.toolBoxGroup > .toolBox{
  display: flex;
  gap: 2rem;
  align-items: center;

  width: 96%;
  height: 3.5rem;
   
  border: 0.3rem solid #7FA3C5;
  box-shadow: 0.25rem 0.25rem 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 3.125rem;
}

.toolBox > button{
  position: relative;
  left: 2rem;

  border: none;
  
  background-color: #fff;

  text-decoration: none;
  font-size: 1.5rem;
}