@import url(./reset.css);

.outsourcingInfoRoot{
  margin: 6rem 13.5rem 0 13.5rem;
}
.outsourcingInfoBox{
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 62rem;
  height: 31rem;
}

.back{
  width: 1.2rem;
  height: 2.1rem;
  margin-bottom: 2.25rem;
}

.outsourcingInfo{
  display: flex;
  flex-wrap: wrap;

  width: 48%;

  margin-right: 3rem;
}

.outsourcingInfo .title{
  display: flex;

  width: 100%;
  height: 3.3rem;

  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
}

.content-box{
  display: flex;
  flex-direction: row;
}

.content-box .profile{
  width: 3rem;
  height: 3rem;

  margin-right: 1.1rem;
  padding: 0px;
}

.content{
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;

  color: #000;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.contentHead{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.userInfo{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.name{
  color: #000;
  font-size: 1.125rem;
  font-family: Inter;
  font-weight: 600;
}

.tools{
  display: flex;
  gap: 0.5rem;
}

.tools img{
  width: 1.8rem;
  height: 1.5rem;
}

/* 외주 이미지들 */

.outsourcingImg{
  display: flex;
  flex-direction: row;
  gap: 1.81rem;

  width: 52%;
}

.mainImgBox{
  width: 20rem;
  height: 31rem;
}

.imageBox > img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.subImgBox{
  width: 10rem;
  height: 30rem;
  background-color: black;
}

.subImage {
  width: 10rem;
  height: 9.1rem;

  margin-bottom: 1.81rem;
}